body{
    background-color:rgb(10, 3, 34);
    color: #F6F6F6;
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    font-size: 36px;
    line-height:50px;
}

h1 span{
    color: #22D4FD;
    font-weight: bold;
    border: 1px solid #4eddfd;
    padding: 3px;
}

p{
    font-family: Andale Mono, monospace;
    font-weight: 400;
    line-height:36px; /*Distancia da linha de cima*/
    color: #F6F6F6;
    font-size: 24px;
}

main{
    position: absolute;
    width: 615px;
    height: 482px;
    left: 357px;
    top: 208px;
    
}

img{
    width: 340px;
    height: 450px;
    border-radius: 4%;
    position: absolute;
    left: 105%;
    right: auto;
    top: 0%;
    box-shadow: 5px 0px 10px rgb(119, 119, 119) ;
}

a{
    background-color: #22D4FD;
    padding: 20px ;
    border-radius: 5%;
    text-decoration: none;
    color: #000000;
    margin-right: 100px;
    position: relative;
    top: 20px;
    transition: 0.8s background-color;
}

a:hover{
    background-color: #2b59ee;
}